<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tyq.readprogress" >
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >

        <activity
            android:name=".MainActivity"
            android:theme="@style/TransparentTheme"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchAcitvity"
            android:theme="@style/CustomActionBarThemeBack"
            android:label="搜索图书"
            />
        <activity android:name=".ViewActivity"
            android:theme="@style/CustomActionBarThemeBack"
            android:label="在读"/>
    </application>

</manifest>
